<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/2946b0c24d.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/Estilos/createEditProduct.css">
    <link rel="stylesheet" href="/Estilos/styles.css">
    <link rel="stylesheet" href="/Estilos/home.css">
    
</head>
<body>
    <%- include('./partials/menu',userlogged) %>
    <main>
        <h1>Create, Edit and Delete Products</h1>
        <form action="/product/createEditProduct" method="POST" enctype="multipart/form-data">
            <div class="createEditProduct">
                <label>Title </label>
                <input type="text" name="title" class="inputs">
            </div>
            <div class="createEditProduct">
                <label>Category </label>
                <select name="Categories" class="barraYlupa letra">
                    <option value="Categorias">Select</option>
                    <option value="Clasicos">Clasicos</option>
                    <option value="Smart">Smart</option>
                    <option value="Sport">Sport</option>
                    <option value="Hombre">Hombre</option>
                    <option value="Mujer">Mujer</option>
                </select>
            </div>
            <div class="createEditProduct">
                <label>Material </label>
                <input type="text" name="material" class="inputs">
            </div>

            <div class="createEditProduct">
                <label for="image">Image </label>
                <input type="file" name="image" class="inputs">
            </div>

            <div class="createEditProduct">
                <label>Description </label>
                <textarea name="description" class="inputs"></textarea>
            </div>
            <div class="createEditProduct">
                <label>Price </label>
                <input type="text" name="price" class="inputs">
            </div>

            <div class="createEditProduct">
            <button type ="submit" class="botonNewProduct">LOAD NEW PRODUCT</button>
        </div>
        </form>
        <div class="sugerencias">
            <h2>LIST OF PRODUCTS</h2>
            <div class="mensuales">
                <% productos.forEach(product=>{%>
                <article class="sugerencia_item">
                    <h3><%= product.title%></h3>
                    <img src='/images/<%= product.image%>' alt="item">
                    <P><%= product.description%></P>
                    <h4><%= product.material%></h4>
                    <h4><%= product.categories%></h4>
                    <h3><%= product.price%></h3>
                    
                    <a class='linkitem'href="/product/createEditProduct/edit/<%= product.id %>"><button>EDIT PRODUCT</button></a>
                    <a class='linkitem'href="/product/createEditProduct/delete/<%= product.id %>"><button>DELETE PRODUCT</button></a>
                </article>
                <% })%>
            </div>
        </div>
        </main>
    <%- include('./partials/footer') %>
    </body>
</html>