<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2946b0c24d.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/Estilos/styles.css">
    <link rel="stylesheet" href="/Estilos/home.css">

    <title>Home</title>
</head>
<body>
    <%- include('./partials/menu') %>
    <main>
        
        <div class="slider">
            <img src="/images/baner.png" alt="banner">
        </div>
        <div class="sugerencias">
            <h2>MONTHLY SUGGESTIONS</h2>
            <div class="mensuales">
                <% products.forEach(product=>{%>
                <article class="sugerencia_item">
                    <h3><%= product.title%></h3>
                    <img src='/images/<%= product.image%>' alt="item">
                    <P><%= product.description%></P>
                    <h4><%= product.material%></h4>
                    <h4><%= product.categories%></h4>
                    <h3><%= product.price%></h3>
                    
                    <a class='linkitem'href="/product/detail/<%=product.id%>"><button>PRODUCT DETAIL</button></a>
                </article>
                <% })%>
            </div>
        </div>
        

    </main>

    <%- include('./partials/footer') %>
    
</body>
</html>