<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/2946b0c24d.js" crossorigin="anonymous"></script>
   
    <link rel="stylesheet" href="/Estilos/productDetail.css">
    <link rel="stylesheet" href="/Estilos/styles.css">
    <link rel="stylesheet" href="/Estilos/home.css">
    
</head>
<body>
    <%- include('./partials/menu') %>

    <main class="contenedorProductD">
        <div class="mitadScreen uno">
            <i class="fas fa-arrow-circle-left"></i>
            <img src="/images/<%=filtrados.image%>" alt="">
            <i class="fas fa-arrow-circle-right"></i>
        </div>
        <div class="mitadScreen dos">
            <article class="relojClasico">
                <h2><%=filtrados.title%></h3>
                <P><%=filtrados.description%></P>
                <P>Price USD 100.00</P>
                <button>ADD TO CAR</button>
        </div>
    </main>
    

    <%- include('./partials/footer') %>
    </body>
</html>